@import "../../styles/styles.scss";

.checkout-page {
    margin-top: 50px;
    
    .checkout-title {
        margin-bottom: 50px;    
    }
    .checkout-title {
        @extend %sub-heading;
        margin: 40px 0;
    }

    .checkout-body {
        display: flex;
    }
}