@import "../../styles/styles";

.navbar {
  background-color: $primary-black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2em 4em;
  border-bottom: $primary-grey;
  z-index: 999999;
  position: sticky;
  width: 100%;
  max-width: 1440px;

  nav {
    .nav-list {
      list-style: none;
      display: flex;
      margin-left: -2em;

      .nav-list-item {
        margin: 0 1em;
        cursor: pointer;
        @extend %fourth-heading;
        font-size: 12px;
        letter-spacing: 1.6px;
        color: white;
        text-decoration: none;

        &:hover {
          color: $primary-brownish-orange;
        }
      }
    }
  }

  .cart-container {
    .cart {
      &:hover {
        fill: $primary-brownish-orange;
      }
      cursor: pointer;
    }
  }
}
