@import "../../styles/styles";

.footer {
    background-color: $primary-black;
    color: white;
    display: flex;
    padding: 0 5em;
    height: 350px;

    .footer-col-1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;

        .footer-logo-container {
            border-top: 10px solid $primary-brownish-orange;
            width: min-content;

            .footer-logo {
                    padding-top: 100px;
            }
        }

        .footer-text {
            p {
                @extend %text-body;
                opacity: 50%;
                font-size: 16px;
                letter-spacing: 1.2px;
                font-size: $font-extra-light;
            }
        }

        .footer-copyright {
            p {
                @extend %text-body;
                opacity: 50%;
                font-size: 16px;
                letter-spacing: 1.2px;
                font-size: $font-extra-light;
                margin-bottom: 40px;
            }
        }
    }

    .footer-col-2 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;

        nav {
            display: flex;
            height: 100%;
            align-items: center;
            .footer-nav-list {
                display: flex;
                list-style: none;
                height: 100%;
                align-items: center;

                .footer-nav-item {
                    @extend %fourth-heading;
                    margin: 0 1em 0 0;
                    font-weight: $font-light;
                    font-size: 14px;
                    padding-left: 40px;
                    cursor: pointer;

                    &:hover {
                        color: $primary-brownish-orange;
                    }
                }
            }
        }

        .footer-socials-container {
            height: 100%;
            display: flex;
            align-items: center;
            .footer-socials-list {
                height: 100%;
                width: 100%;
                list-style: none;
                display: flex;
                justify-content: flex-end;
                padding-right: 110px;

                .footer-socials-item {
                    margin: 0 0 0 1em;
                    cursor: pointer;
                }
            }
        }
    }
}