@import "../../styles/styles";

.modal {
  max-width: 400px;
  min-height: 100px;
  position: relative;
  .modal-container {
    .modal-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      h4 {
        @extend %fourth-heading;
      }

      p {
        opacity: 50%;
        text-decoration: underline;
        cursor: pointer;
      }
    }

     .modal-total-container {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;

      .modal-total-text {
        text-transform: uppercase;
        opacity: 50%;
      }
    }

    .checkout-button {
      @include button-one;
      width: 100%;
      font-size: 16px;
      letter-spacing: 1px;
    }
  }
}
