@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap");

body {
  font-family:"Manrope", sans-serif;
  max-width: 1440px;
  margin: 0 auto;
  overflow: auto;
}

html {
  
  margin: 0 auto;
}